<div class="container"
<div class="row">
  <div class="col-xs-3" id="game-feed">
    <div class="game-feed"
      <center><h1>Games</h1></center>
      <h3><%= link_to "Rock Paper Scissors", rps_path, class: "btn btn-primary well" %></h3>
      <h3><%= link_to "Tic Tac Toe", ttt_path, class: "btn btn-primary well" %></h3>
    </div>
  </div>

  <div class="col-xs-3"></div>

  <div class="col-xs-9">
    <div class="post-feed">
        <center><h2>Posts <%= link_to 'New Post', new_post_path, remote: true, class: "btn btn-primary" %></h2></center>
        <center><div id="post-form" style="display:none;"></div></center>
          <ul>
            <div id="posts">
              <%= render @posts %>
            </div>
          </ul>
        </div>
    </div>
</div>
</div>
