<center>
<h1>TicTacToe</h1>
<div class="container">
    <div class="row">
      <% @squares.each do |square| %>
        <div class="col-xs-4">
          <%= square %>
        </div>
      <% end %>
    </div>
  </div>
</center>
