// Place all the styles related to the Rock_paper_scissors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  padding: 5%;
}
.btn {
  background-color: blue;
  color: white;
}
.btn:hover {
  background-color: rgb(150, 150, 255);
}
