// Place all the styles related to the Tic_tac_toe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

.col-xs-4 {
  background-color: blue;
  padding-top: 30%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
.row {
  width: 50%;
}
