<div class="game-feed">
<div class="jumbotron">
  <p>You played <%= @throw %></p>
  <p>Computer played <%= @comp_throw %></p>
  <p><%= @result %></p>
  <%= link_to 'Play Again?', rps_restart_path, class: "btn btn-primary" %>
</div>
</div>
